<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Schools</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>

    <!-- JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>
<!--/*@thymesVar id="schools" type="java.util.List"*/-->
<!--/*@thymesVar id="school" type="be.brussel.schoolgrappling.model.SchoolEntity"*/-->
<div class="container-fluid" style="margin-top: 2rem">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Schools</h1>

                    <div class="col-md-offset-3">
                        <form th:action="@{/schools/listSchools}">
                            <input type="text" class="form-control" name="keyword" id="keyword" size="50"
                                   th:value="${keyword}" placeholder="filter by postal code or township" required/>
                            <input type="submit" class="btn btn-primary" value="Search"/>
                            <input type="button" class="btn btn-primary" value="Clear" id="btnClear"
                                   onclick="clearSearch()"/>
                        </form>
                    </div>

                    <script type="text/javascript">
                        function clearSearch() {
                            window.location = "[[@{/schools/listSchools}]]";
                        }
                    </script>

                    <div class="col-md-offset-11">
                        <a class="btn btn-default" href="#"
                           th:href="@{'/schools/new'}"
                           role="button">New</a>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(schools)}">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>

                            <tr th:each="school : ${schools}">
                                <td th:text="${school.schoolName}">School</td>
                                <td><a href="#" th:href="@{'/schools/findSchool/' + ${school.id}}">View</a></td>
                                <td><a href="#" th:href="@{'/schools/update/' + ${school.id}}">Update</a></td>
                                <td><a href="#" th:href="@{'/schools/delete/' + ${school.id} }">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>